.profile-buttons-container{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    border-radius: 12px 12px 0 0;
    height: 100%;
    width: 100%;
    padding: 16px;
    gap: 16px;
    background-color: var(--primary-100);
}

.profile-buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 56px;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 16px;
    gap: 16px;
    background-color: var(--secondary-200);
}

.profile-button-title-arrow{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}