.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    color: white;
    border: none;
}

.grey {
    background: var(--grey-300);
}

.green {
    background: var(--complementary);
}

.red {
    background: var(--red);
}

.common {
    background: var(--primary-300);
}

.small {
    height: 36px;
    width: 149px;
}

.medium {
    height: 36px;
    width: 196px;
}

.large {
    height: 36px;
    width: 346px;
}
