* {
    font-family: Inter, sans-serif !important;
    margin: 0;
}

.h1 {
    font-size: 56px;
    font-weight: 400;
}

.h2 {
    font-size: 38px;
    font-weight: 400;
}

.h3 {
    font-size: 32px;
    font-weight: 400;
}

.h4 {
    font-size: 28px;
    font-weight: 400;
}

.h5 {
    font-size: 24px;
    font-weight: 500;
}

.h6 {
    font-size: 18px;
    font-weight: 400;
}

.body1 {
    font-size: 16px;
}

.body1bold {
    font-size: 16px;
    font-weight: 600;
}

.body2 {
    font-size: 14px;
}

.body2bold {
    font-size: 14px;
    font-weight: 600;
}

.body3 {
    font-size: 12px;
}

.body3bold {
    font-size: 12px;
    font-weight: 600;
}

.body4 {
    font-size: 10px;
}

.body4bold {
    font-size: 10px;
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

.primary {
    --primary-base: #6964e9;
    --primary-100: #e8e7fc;
    --primary-200: #bdbcf6;
    --primary-300: #9390f0;
    --primary-400: #6964e9;
    --primary-500: #3e34dc;
    --primary-600: #221a93;
    --primary-700: #0c0849;
}