.card-div {
    display: flex;
    color: white;
    flex-direction: row;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: space-around;
    border-radius: 24px;
    padding: 0 16px;
    cursor: pointer;
    height: 100px;
    width: 100%;
    margin: 0 16px;
    box-sizing: border-box;
}

.title-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-200);
    color: #f4f4f4;
    height: 40%;
    box-sizing: border-box;
    padding: 8px;
    text-align: center;
    border-radius: 0 0 8px 8px;
}

.text-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.lock-div {
    display: flex;
    gap: 12px;
}

.disallowed {
    background-color: var(--secondary-200);
}

.icons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 8px 0;
    height: 60%;
}

.activity-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 80%;
    white-space: normal;
}

.activity-title-div {
    display: flex;
    width: 80%;
}

