:root {
  --black: #0c1012;
  --white: #ffffff;

  --complementary: #47BA84;
  --complementary-700: #0A4B2D;
  --complementary-200: #9CE8C4;


  --primary-base: #6964E9;
  --primary-100: #E8E7FC;
  --primary-200: #BDBCF6;
  --primary-300: #9390F0;
  --primary-400: #6964E9;
  --primary-500: #3E34DC;
  --primary-600: #221A93;
  --primary-700: #0C0849;

  --secondary-base: #AB64E9;
  --secondary-100: #F4EEFD;
  --secondary-200: #DECAF7;
  --secondary-300: #C399F1;
  --secondary-400: #AB64E9;
  --secondary-500: #8B34C9;
  --secondary-600: #5D2088;
  --secondary-700: #330E4D;

  --tertiary-base: #64A2E9;
  --tertiary-100: #E7EEFB;
  --tertiary-200: #ABC7F2;
  --tertiary-300: #64A2E9;
  --tertiary-400: #437DBA;
  --tertiary-500: #2E5986;
  --tertiary-600: #1A3756;
  --tertiary-700: #09192A;

  --grey-100: #E9E9EA;
  --grey-200: #C1C1C4;
  --grey-300: #9A9AA0;
  --grey-400: #75757D;
  --grey-500: #52525B;
  --grey-600: #323238;
  --grey-700: #141418;
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --foreground-rgb: 255, 255, 255;*/
/*    --background-start-rgb: 0, 0, 0;*/
/*    --background-end-rgb: 0, 0, 0;*/

/*    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));*/
/*    --secondary-glow: linear-gradient(*/
/*      to bottom right,*/
/*      rgba(1, 65, 255, 0),*/
/*      rgba(1, 65, 255, 0),*/
/*      rgba(1, 65, 255, 0.3)*/
/*    );*/

/*    --tile-start-rgb: 2, 13, 46;*/
/*    --tile-end-rgb: 2, 5, 19;*/
/*    --tile-border: conic-gradient(*/
/*      #ffffff80,*/
/*      #ffffff40,*/
/*      #ffffff30,*/
/*      #ffffff20,*/
/*      #ffffff10,*/
/*      #ffffff10,*/
/*      #ffffff80*/
/*    );*/

/*    --callout-rgb: 20, 20, 20;*/
/*    --callout-border-rgb: 108, 108, 108;*/
/*    --card-rgb: 100, 100, 100;*/
/*    --card-border-rgb: 200, 200, 200;*/
/*  }*/
/*}*/


* {
  font-family: Inter, sans-serif;
  margin: 0;
}

h1 {
  font-size: 56px;
  font-weight: 400;
}
h2 {
  font-size: 38px;
  font-weight: 400;
}
h3 {
  font-size: 32px;
  font-weight: 400;
}
h4 {
  font-size: 28px;
  font-weight: 400;
}
h5 {
  font-size: 24px;
  font-weight: 500;
}
h6 {
  font-size: 18px;
  font-weight: 400;
}

.body1 {
  font-size: 16px;
}
.body1bold {
  font-size: 16px;
  font-weight: 600;
}
.body2 {
  font-size: 14px;
}
.body2bold {
  font-size: 14px;
  font-weight: 600;
}
.body3 {
  font-size: 12px;
}
.body3bold {
  font-size: 12px;
  font-weight: 600;
}

.body4 {
  font-size: 10px;
}

.body4bold {
  font-size: 10px;
  font-weight: 600;
}
.bold {
  font-weight: 700;
}

/*@media (prefers-color-scheme: dark) {*/
/*  html {*/
/*    color-scheme: dark;*/
/*  }*/
/*}*/
