:root {
    --black: #0c1012;
    --white: #ffffff;
    --light-white: #fdfdfd;
    --bg-color: #f3edf7;

    --complementary: #47ba84;
    --complementary-700: #0a4b2d;
    --complementary-200: #9ce8c4;

    --primary-base: #6964e9;
    --primary-100: rgb(232, 231, 252);
    --primary-200: #bdbcf6;
    --primary-300: #9390f0;
    --primary-400: #6964e9;
    --primary-500: #3e34dc;
    --primary-600: #221a93;
    --primary-700: #0c0849;

    --secondary-base: #ab64e9;
    --secondary-100: #f4eefd;
    --secondary-200: #decaf7;
    --secondary-300: #c399f1;
    --secondary-400: #ab64e9;
    --secondary-500: #8b34c9;
    --secondary-600: #5d2088;
    --secondary-700: #330e4d;

    --tertiary-base: #64a2e9;
    --tertiary-100: #e7eefb;
    --tertiary-200: #abc7f2;
    --tertiary-300: #64a2e9;
    --tertiary-400: #437dba;
    --tertiary-500: #2e5986;
    --tertiary-600: #1a3756;
    --tertiary-700: #09192a;

    --grey-100: #e9e9ea;
    --grey-200: #c1c1c4;
    --grey-300: #9a9aa0;
    --grey-400: #75757d;
    --grey-500: #52525b;
    --grey-600: #323238;
    --grey-700: #141418;

    --red: #e85353;
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --foreground-rgb: 255, 255, 255;*/
/*    --background-start-rgb: 0, 0, 0;*/
/*    --background-end-rgb: 0, 0, 0;*/

/*    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));*/
/*    --secondary-glow: linear-gradient(*/
/*      to bottom right,*/
/*      rgba(1, 65, 255, 0),*/
/*      rgba(1, 65, 255, 0),*/
/*      rgba(1, 65, 255, 0.3)*/
/*    );*/

/*    --tile-start-rgb: 2, 13, 46;*/
/*    --tile-end-rgb: 2, 5, 19;*/
/*    --tile-border: conic-gradient(*/
/*      #ffffff80,*/
/*      #ffffff40,*/
/*      #ffffff30,*/
/*      #ffffff20,*/
/*      #ffffff10,*/
/*      #ffffff10,*/
/*      #ffffff80*/
/*    );*/

/*    --callout-rgb: 20, 20, 20;*/
/*    --callout-border-rgb: 108, 108, 108;*/
/*    --card-rgb: 100, 100, 100;*/
/*    --card-border-rgb: 200, 200, 200;*/
/*  }*/
/*}*/

* {
    font-family: Inter, sans-serif !important;
    margin: 0;
}

.h1 {
    font-size: 56px !important;
    font-weight: 400 !important;
}

.h2 {
    font-size: 38px !important;
    font-weight: 400 !important;
}

.h3 {
    font-size: 32px !important;
    font-weight: 400 !important;
}

.h4 {
    font-size: 28px !important;
    font-weight: 400 !important;
}

.h5 {
    font-size: 24px !important;
    font-weight: 500 !important;
}

.h6 {
    font-size: 18px !important;
    font-weight: 400 !important;
}

.body1 {
    font-size: 16px !important;
}

.body1bold {
    font-size: 16px !important;
    font-weight: 600 !important;
}

.body2 {
    font-size: 14px !important;
}

.body2bold {
    font-size: 14px !important;
    font-weight: 600 !important;
}

.body3 {
    font-size: 12px !important;
}

.body3bold {
    font-size: 12px !important;
    font-weight: 600 !important;
}

.body4 {
    font-size: 10px !important;
}

.body4bold {
    font-size: 10px !important;
    font-weight: 600 !important;
}

.bold {
    font-weight: 700 !important;
}

body {
    background: linear-gradient(
        to bottom,
        var(--primary-100),
        var(--primary-300),
        var(--primary-200)
    );
}

.light-bold {
    font-weight: 550 !important;
}

/*@media (prefers-color-scheme: dark) {*/
/*  html {*/
/*    color-scheme: dark;*/
/*  }*/
/*}*/
