.personalize-container {
    display: flex;
    flex-direction: column;
}

.personalize-title-div {
    display: flex;
    padding: 24px 16px 0px 16px;
    flex-direction: column;
    gap: 32px;
}

.store-elements-main-container {
    height: 100%;
    display: flex;
    margin-top: 8px;
    flex-direction: column;
    background-color: var(--secondary-100);
}

.background-division-container {
    overflow-x: scroll;
}

.avatar-division-container {
    overflow-x: scroll;
}

.store-elements-division-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 16px;
    border-bottom: 1px solid var(--secondary-200);
}

.title-progress-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.progress {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
}

.unlocks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.unlocks-value {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 40px;
    border-radius: 20px;
    background-color: var(--primary-200);
}
