.title-information-container {
    margin: 16px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.information-page-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
}

.information-container {
    display: flex;
    flex-direction: column;
    margin: 0 16px;
    gap: 10px;
}

.description-text-container {
    display: flex;
    flex-direction: column;
    padding: 6px 16px;
    border-radius: 12px;
    background-color: var(--primary-100);
}

.mail-contact-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 16px;
}
